APP_DB_URL=sqlite:///./configurator.db
APP_TIMEZONE=Europe/Rome
APP_SESSION_SECRET=change-me-in-production
APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=admin123!
SQLSERVER_CONN_STR=DRIVER={ODBC Driver 17 for SQL Server};SERVER=WIN-NSICHQOT7RV\\MSSQL2019;DATABASE=SBO2640_VTK;UID=sa;PWD=change-me;Encrypt=no;TrustServerCertificate=yes;
BQ_PROJECT_ID=vtronik-sap-reporting-cliente
BQ_DATASET=sap_reporting
BQ_TABLE=stato_ordini_cliente
BQ_LOCATION=EU
BQ_CREDENTIALS_FILE=C:\\BigQuery\\vtronik-sap-reporting-cliente-72be47a65bcb.json
PIPELINE_COMMAND_TIMEOUT_SECONDS=3600
